<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a routerLink="/home">
        <img
          src="../../../assets/images/logohome.png"
          width="109.08"
          height="85"
        />
      </a>
    </div>
    <div class="col-auto mt-5">
      <h1>ADMINISTRAR USUARIOS</h1>
    </div>
    <div class="col">
      <button class="homeico" (click)="volverhome()">
        <i class="fa-sharp fa-solid fa-house fa-2xl"></i>
      </button>
    </div>
  </div>
  <div class="row" style="margin-top: 6rem">
    <div class="col"></div>
    <div class="col-8 col-md-8 col-sm-8 justify-content-md-center">
      <div class="table-responsive">
        <table class="table table-bordered align-middle">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Activar/Inactivar</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Juan</td>
              <td>Barrios</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Maria</td>
              <td>Fuentes</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Pedro</td>
              <td>Ramirez</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jose</td>
              <td>Perez</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Jesus</td>
              <td>Rodriguez</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Carlos</td>
              <td>Rodriguez</td>
              <td class="justify-content-center">
                <div class="form-check form-switch switch ">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckChecked"
                    checked
                  />
                </div>
              </td>
              <td>
                <div class="switch">
                  <button type="submit" class="btn boton">
                    Cambiar Contraseña
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<footer>
  <div>
    <div class="pie">
      <button class="arrow" (click)="volverhome()">
        <i class="fa-solid fa-chevron-left fa-2xl" style="color: #000000"></i>
      </button>
    </div>
  </div>
</footer>

